﻿// colors
$green: #026937;
$green-light: #2fcd52;

$dark-gray: #7b6e65;
$light-gray: #b6ada5;
$background-gray: #7b6d65;

$blue: #0080bb;
$red: #e53c2e;
$yellow: #f8be15;
$white: #fff;

$black: #000;

// screen sizes
$screen-lg: 1280px;
$screen-md: 960px;
$screen-xs: 640px;
