﻿@import "_variables.scss";

body {
	footer {
		background: $background-gray;

		> div {
			max-width: 1200px;
			margin: auto;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			padding: 30px 0;

			div {
				display: flex;
				flex-direction: column;
				flex-basis: 100%;

				h4 {
					font-size: 1.3em;
					color: $white;
					padding: 0;
					margin: 0;
					font-weight: 400;
					margin-bottom: 30px;
				}

				ul {
					padding: 0;
					margin: 0;

					li {
						color: $white;
						line-height: 30px;
						list-style: none;



						a {
							color: $white;


							&:hover {
								color: $light-gray;
							}
						}
					}
				}

				form {
					input, textarea {
						width: 80%;
						margin: 5px 0;
						height: 30px;
						line-height: 30px;
						text-indent: 5px;
						border: 1px solid $light-gray;

						&:focus {
							border-color: $blue;
						}
					}

					textarea {
						height: 100px;
					}

					button {
						background: $blue;
						color: $white;
						padding: 5px 20px;
						border:none;
						margin-top:20px;
						font-size:1.3em;
						cursor:pointer;
						transition:.3s all;
						&:hover{
							background:$green-light;
						}
					}
				}
				/*&:first-child {
					background: red;
				}

				&:nth-child(2) {
					background: yellow;
				}

				&:nth-child(3) {
					background: green;
				}*/
			}
		}
	}
}

@media screen and (min-width: $screen-md) {
	body {
		footer {
			> div {
				div {
					flex: 1;
				}
			}
		}
	}
}

@media screen and (max-width: $screen-xs) {
	body {
		footer {
			> div {
				div {
					padding-left:20px;
					margin-bottom:20px;
				}
			}
		}
	}
}
