﻿body .wrapper header {
  border-bottom: 1px solid #7b6e65;
  padding: 10px 20px;
  position: fixed;
  z-index: 999;
  width: 100vw;
  background: #fff;
  box-sizing: border-box; }
  body .wrapper header a img {
    height: 60px; }
  body .wrapper header button {
    float: right;
    width: 41px;
    height: 41px;
    background: none;
    border: none;
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 25px; }
    body .wrapper header button:before, body .wrapper header button:after, body .wrapper header button span {
      content: "";
      display: block;
      height: 4px;
      width: 100%;
      background: #026937;
      overflow: hidden;
      text-indent: -9999px;
      transform-origin: center center;
      transition: .5s all; }
    body .wrapper header button:before {
      transform: translateY(-6px); }
    body .wrapper header button:after {
      transform: translateY(6px); }
    body .wrapper header button:hover:before, body .wrapper header button:hover:after, body .wrapper header button:hover span {
      background: #2fcd52; }
    body .wrapper header button:focus {
      outline: none; }
    body .wrapper header button.clicked span {
      opacity: 0; }
    body .wrapper header button.clicked:before {
      transform: translateY(3px) rotate(45deg); }
    body .wrapper header button.clicked:after {
      transform: translateY(-5px) rotate(-45deg); }
