﻿@import "_variables.scss";

body {
	menu {
		position: fixed;
		width: 300px;
		height: 100vh;
		background: $green;
		top: 0;
		margin: 0;
		padding: 0;
		left: -300px;
		transition: .5s all;
		z-index: 555;


		ul {
			padding: 0;
			margin-top: 150px;
			margin-left: 20px;

			li {
				//text-align: center;
				padding: 0;
				margin: 15px;
				list-style: none;
				opacity: 0;
				transform: translateX(-30px);
				transition: .5s all;

				&:first-child {
					transition-delay: .4s;
				}

				&:nth-child(2) {
					transition-delay: .48s;
				}

				&:nth-child(3) {
					transition-delay: .56s;
				}

				&:nth-child(4) {
					transition-delay: .62s;
				}

				&:nth-child(5) {
					transition-delay: .70s;
				}



				a {
					color: $white;
					text-decoration: none;
					font-size: 1.1em;
					display: inline-block;
					transition: .3s all;

					&:after {
						content: "";
						display: block;
						height: 2px;
						background: $white;
						width: 0;
						overflow: hidden;
						transition: .3s all;
					}

					&:hover {

						&:after {
							width: 100%;
						}
					}
				}
			}
		}

		&.menu-open {
			left: 0;

			ul {
				li {
					opacity: 1;
					transform: translateX(0);
				}
			}
		}
	}
}
