﻿@import "_variables.scss";

body {
	.wrapper {
		#PhotoGallery {
			margin-top: 50px;

			ul {
				margin: 0;
				padding: 0;
				display: grid;
				grid-template-columns: auto auto auto auto;

				li {
					padding: 0;
					margin: 0;
					list-style: none;
					height: 300px;
					position: relative;
					cursor: pointer;
					overflow: hidden;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: .4s all;
					}

					span {
						background: $green-light;
						color: $white;
						position: absolute;
						display: block;
						width: 100%;
						padding: 10px;
						bottom: -50px;
						transition: .4s all;
						transition-delay: .1s;
					}

					&:hover {
						img {
							transform: scale(1.1) rotate(-2deg);
						}

						span {
							bottom: 0;
						}
					}
				}
			}
		}
	}

	.light-box {
		position: fixed;
		z-index: 99919;
		background: rgba(0,0,0, 0.9);
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		transform: scale(0);
		opacity: 0;
		transition: .4s all;

		svg#CloseButton {
			cursor: pointer;
			fill: $white;

			* {
				fill: $white;
			}

			position: absolute;
			right: 20px;
			top: 20px;
		}

		img {
			width: 90%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-30%) translateY(-50%);
			opacity: 0;
			transition: .4s;
			transition-delay: .2s;
		}

		&.im-visible {
			opacity: 1;
			transform: scale(1);

			img {
				transform: translateX(-50%) translateY(-50%);
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width: $screen-lg) {
	body {
		.wrapper {
			#PhotoGallery {
				ul {

					li {
						height: 200px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: $screen-md) {
	body {
		.wrapper {
			#PhotoGallery {
				ul {
					grid-template-columns: auto auto auto;
					li{
						height:150px;
					}
				}
			}
		}
	}
}


