﻿@import "_variables.scss";

body {
	section.slider {
		height: 100vh;
		position: relative;
		box-sizing:border-box;
		overflow:hidden;
		margin:0;

		ul {
			margin: 0;
			padding: 0;

			li {
				margin: 0;
				padding: 0;
				list-style: none;
				width: 100vw;
				height: 100vh;
				position: absolute;
				overflow: hidden;


				&.im-visible {
					img {
						transform: scale(1);
						opacity: 1;
					}

					h2 {
						bottom: 0;
					}
				}

				img {
					width: 100%;
					height: 100vh;
					object-fit: cover;
					transform: scale(1.1) rotate(1deg);
					opacity: 0;
					transition: 1.4s all;
				}

				h2 {
					position: absolute;
					background: rgba(0,0,0, .7);
					color: $white;
					width: 100%;
					letter-spacing: 2px;
					left: 0;
					margin: 0;
					padding: 10px 20px;
					font-weight: 400;
					font-size: 2.5em;
					bottom: -100px;
					transition: 1.4s all;
					transition-delay:.4s;
				}
			}
		}
	}
}
