﻿@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");
@import url("normalize.css");
body .wrapper header {
  border-bottom: 1px solid #7b6e65;
  padding: 10px 20px;
  position: fixed;
  z-index: 999;
  width: 100vw;
  background: #fff;
  box-sizing: border-box; }
  body .wrapper header a img {
    height: 60px; }
  body .wrapper header button {
    float: right;
    width: 41px;
    height: 41px;
    background: none;
    border: none;
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 25px; }
    body .wrapper header button:before, body .wrapper header button:after, body .wrapper header button span {
      content: "";
      display: block;
      height: 4px;
      width: 100%;
      background: #026937;
      overflow: hidden;
      text-indent: -9999px;
      transform-origin: center center;
      transition: .5s all; }
    body .wrapper header button:before {
      transform: translateY(-6px); }
    body .wrapper header button:after {
      transform: translateY(6px); }
    body .wrapper header button:hover:before, body .wrapper header button:hover:after, body .wrapper header button:hover span {
      background: #2fcd52; }
    body .wrapper header button:focus {
      outline: none; }
    body .wrapper header button.clicked span {
      opacity: 0; }
    body .wrapper header button.clicked:before {
      transform: translateY(3px) rotate(45deg); }
    body .wrapper header button.clicked:after {
      transform: translateY(-5px) rotate(-45deg); }

body menu {
  position: fixed;
  width: 300px;
  height: 100vh;
  background: #026937;
  top: 0;
  margin: 0;
  padding: 0;
  left: -300px;
  transition: .5s all;
  z-index: 555; }
  body menu ul {
    padding: 0;
    margin-top: 150px;
    margin-left: 20px; }
    body menu ul li {
      padding: 0;
      margin: 15px;
      list-style: none;
      opacity: 0;
      transform: translateX(-30px);
      transition: .5s all; }
      body menu ul li:first-child {
        transition-delay: .4s; }
      body menu ul li:nth-child(2) {
        transition-delay: .48s; }
      body menu ul li:nth-child(3) {
        transition-delay: .56s; }
      body menu ul li:nth-child(4) {
        transition-delay: .62s; }
      body menu ul li:nth-child(5) {
        transition-delay: .70s; }
      body menu ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 1.1em;
        display: inline-block;
        transition: .3s all; }
        body menu ul li a:after {
          content: "";
          display: block;
          height: 2px;
          background: #fff;
          width: 0;
          overflow: hidden;
          transition: .3s all; }
        body menu ul li a:hover:after {
          width: 100%; }
  body menu.menu-open {
    left: 0; }
    body menu.menu-open ul li {
      opacity: 1;
      transform: translateX(0); }

body section.slider {
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0; }
  body section.slider ul {
    margin: 0;
    padding: 0; }
    body section.slider ul li {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100vw;
      height: 100vh;
      position: absolute;
      overflow: hidden; }
      body section.slider ul li.im-visible img {
        transform: scale(1);
        opacity: 1; }
      body section.slider ul li.im-visible h2 {
        bottom: 0; }
      body section.slider ul li img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        transform: scale(1.1) rotate(1deg);
        opacity: 0;
        transition: 1.4s all; }
      body section.slider ul li h2 {
        position: absolute;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        width: 100%;
        letter-spacing: 2px;
        left: 0;
        margin: 0;
        padding: 10px 20px;
        font-weight: 400;
        font-size: 2.5em;
        bottom: -100px;
        transition: 1.4s all;
        transition-delay: .4s; }

body .wrapper #WelcomeMessage article {
  max-width: 1280px;
  margin: 50px auto; }
  body .wrapper #WelcomeMessage article img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
    margin-right: 20px; }

@media screen and (max-width: 1280px) {
  body .wrapper #WelcomeMessage article {
    padding: 20px; } }

body .wrapper #News {
  background: url(../images/slider/2.jpg) fixed no-repeat;
  background-size: cover;
  position: relative;
  overflow: auto; }
  body .wrapper #News:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; }
  body .wrapper #News article {
    max-width: 1280px;
    margin: auto;
    z-index: 20;
    position: relative;
    color: #fff;
    padding: 65px 0 20px;
    overflow: auto; }
    body .wrapper #News article h2 {
      margin: 0;
      padding: 0 0 50px 0;
      font-family: 'Times New Roman';
      font-weight: 400;
      font-size: 2.4em;
      font-style: italic; }
    body .wrapper #News article a {
      color: #fff;
      text-decoration: underline; }
      body .wrapper #News article a:hover {
        color: #b6ada5; }
    body .wrapper #News article > div {
      width: 50%;
      height: 150px;
      float: left; }
      body .wrapper #News article > div img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        float: left;
        margin: 0 10px 0 0; }
      body .wrapper #News article > div h3 {
        font-weight: 500;
        font-size: 1.4em;
        margin-top: 0;
        padding-top: 0; }

@media screen and (max-width: 1280px) {
  body .wrapper #News article > div, body .wrapper #News article > h2 {
    padding: 20px; } }

@media screen and (max-width: 960px) {
  body .wrapper #News article > div {
    width: 100%; } }

body .wrapper #PhotoGallery {
  margin-top: 50px; }
  body .wrapper #PhotoGallery ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto auto; }
    body .wrapper #PhotoGallery ul li {
      padding: 0;
      margin: 0;
      list-style: none;
      height: 300px;
      position: relative;
      cursor: pointer;
      overflow: hidden; }
      body .wrapper #PhotoGallery ul li img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .4s all; }
      body .wrapper #PhotoGallery ul li span {
        background: #2fcd52;
        color: #fff;
        position: absolute;
        display: block;
        width: 100%;
        padding: 10px;
        bottom: -50px;
        transition: .4s all;
        transition-delay: .1s; }
      body .wrapper #PhotoGallery ul li:hover img {
        transform: scale(1.1) rotate(-2deg); }
      body .wrapper #PhotoGallery ul li:hover span {
        bottom: 0; }

body .light-box {
  position: fixed;
  z-index: 99919;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform: scale(0);
  opacity: 0;
  transition: .4s all; }
  body .light-box svg#CloseButton {
    cursor: pointer;
    fill: #fff;
    position: absolute;
    right: 20px;
    top: 20px; }
    body .light-box svg#CloseButton * {
      fill: #fff; }
  body .light-box img {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-30%) translateY(-50%);
    opacity: 0;
    transition: .4s;
    transition-delay: .2s; }
  body .light-box.im-visible {
    opacity: 1;
    transform: scale(1); }
    body .light-box.im-visible img {
      transform: translateX(-50%) translateY(-50%);
      opacity: 1; }

@media screen and (max-width: 1280px) {
  body .wrapper #PhotoGallery ul li {
    height: 200px; } }

@media screen and (max-width: 960px) {
  body .wrapper #PhotoGallery ul {
    grid-template-columns: auto auto auto; }
    body .wrapper #PhotoGallery ul li {
      height: 150px; } }

body footer {
  background: #7b6d65; }
  body footer > div {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 0; }
    body footer > div div {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      /*&:first-child {
					background: red;
				}

				&:nth-child(2) {
					background: yellow;
				}

				&:nth-child(3) {
					background: green;
				}*/ }
      body footer > div div h4 {
        font-size: 1.3em;
        color: #fff;
        padding: 0;
        margin: 0;
        font-weight: 400;
        margin-bottom: 30px; }
      body footer > div div ul {
        padding: 0;
        margin: 0; }
        body footer > div div ul li {
          color: #fff;
          line-height: 30px;
          list-style: none; }
          body footer > div div ul li a {
            color: #fff; }
            body footer > div div ul li a:hover {
              color: #b6ada5; }
      body footer > div div form input, body footer > div div form textarea {
        width: 80%;
        margin: 5px 0;
        height: 30px;
        line-height: 30px;
        text-indent: 5px;
        border: 1px solid #b6ada5; }
        body footer > div div form input:focus, body footer > div div form textarea:focus {
          border-color: #0080bb; }
      body footer > div div form textarea {
        height: 100px; }
      body footer > div div form button {
        background: #0080bb;
        color: #fff;
        padding: 5px 20px;
        border: none;
        margin-top: 20px;
        font-size: 1.3em;
        cursor: pointer;
        transition: .3s all; }
        body footer > div div form button:hover {
          background: #2fcd52; }

@media screen and (min-width: 960px) {
  body footer > div div {
    flex: 1; } }

@media screen and (max-width: 640px) {
  body footer > div div {
    padding-left: 20px;
    margin-bottom: 20px; } }

html {
  scroll-behavior: smooth; }
  html body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #7b6e65; }
    html body div {
      box-sizing: border-box; }
    html body h1 {
      color: #0080bb;
      font-family: 'Times New Roman';
      font-size: 3em;
      font-style: italic;
      font-weight: 300; }
    html body p {
      line-height: 22px; }
    html body .wrapper {
      transition: .8s transform; }

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto; } }
