﻿@import "_variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
@import url('normalize.css');


@import "header.scss";
@import "menu.scss";
@import "slider.scss";
@import "WelcomeMessage.scss";
@import "News.scss";
@import "PhotoGallery.scss";
@import "footer.scss";

html {
	scroll-behavior: smooth;

	body {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		color: $dark-gray;

		&.menu-open {
		}
		div{
			box-sizing:border-box;
		}
		h1{
			color:$blue;
			font-family:'Times New Roman';
			font-size:3em;
			font-style:italic;
			font-weight:300;
		}
		p{
			line-height:22px;
		}

		.wrapper {
			transition: .8s transform;

			&.menu-open {
			}
		}
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}