﻿@import "_variables.scss";

body {
	.wrapper {
		#WelcomeMessage {
			article {
				max-width: $screen-lg;
				margin: 50px auto;

				img {
					width: 200px;
					height: 200px;
					border-radius: 50%;
					object-fit: cover;
					float: left;
					margin-right: 20px;
				}
			}
		}
	}
}

@media screen and (max-width: $screen-lg) {
	body {
		.wrapper {
			#WelcomeMessage {
				article {
					padding:20px;
				}
			}
		}
	}
}
