﻿@import 'variables.scss';
@import '_mixins.scss';
body {
    font-family: $font-family;
    font-size: 16px;
    padding: 0;
    margin: 0;

    .wrapper {
        header {
            background: $green;
            color: #fff;
            padding: 10px 20px 10px 20px;
            display: flex;
            justify-content: space-between;

            h2 {
                font-weight: normal;
                font-size: 16px;
                margin: 0;
                padding: 0;
            }

            span {
                &.notification {
                    background: $red;
                    font-size: .7em;
                    display: inline-block;
                    padding: 0px 1px;
                    position: relative;
                    top: -5px;
                }
            }
        }

        menu {
            display: flex;
            margin: 0;
            padding: 0;
            color: #fff;

            > div, > a {
                background: $gray;
                margin: 3px 2px;
                width: 130px;
                padding: 5px;
                color: #fff;
                text-decoration: none;
                text-align: center;
                transition: .3s all;

                &:first-child {
                    flex-grow: 8;
                    text-align: left;
                }

                &:last-child {
                    flex-grow: 4;
                }
            }

            > a {
                &:hover {
                    background: $orange;
                }

                &:nth-child(2) {
                    img {
                        background: #fff;
                        width: 20px;
                        height: 20px;
                        margin: 5px 0;
                        padding: 10px;
                        border-radius: 50%;
                    }
                }
            }

            > div {
                &:first-child {
                    img {
                        float: left;
                        margin-right: 10px;
                    }
                }
            }

            .circle {
                height: 60px;
                display: block;
                width: 60px;
                text-align: center;
                line-height: 60px;
                border: 2px solid #fff;
                margin: 5px auto;
                border-radius: 50%;
            }

            img.img-fluid {
                width: 100%;
                height: auto;
            }
        }

        .show-menu {
            display: none;
        }
    }
}




@media only screen and (max-width:600px) {
    body {
        .wrapper {
            menu {
                flex-direction: column;
                flex-wrap: wrap;
                height: 0;
                overflow: hidden;
                transition: all .5s;

                &.open-menu {
                    height: 300px;
                }

                > div, > a {
                    width: 100%;

                    &:first-child {
                        flex-grow: initial;
                    }
                }
            }

            .show-menu {
                display: block;
                height: 30px;
                width: 40px;
                margin: 5px;
                position: relative;
                overflow: visible;

                &:before, &:after, span {
                    content: '';
                    display: block;
                    height: 5px;
                    width: 100%;
                    background: $green;
                    position: absolute;
                    top: 0;
                    transition: all .5s;
                }

                &:after {
                    bottom: 0;
                    top: auto;
                }

                span {
                    top: 12px;
                }

                &.open-menu {
                    span {
                        transform: scale(0);
                    }

                    &:before {
                        transform: rotate(45deg) translateY(10px) translateX(10px);
                    }

                    &:after {
                        transform: rotate(-45deg) translateY(-7px) translateX(8px);
                    }
                }
            }
        }
    }
}
