﻿body {
  font-family: Arial;
  font-size: 16px;
  padding: 0;
  margin: 0; }
  body .wrapper header {
    background: green;
    color: #fff;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between; }
    body .wrapper header h2 {
      font-weight: normal;
      font-size: 16px;
      margin: 0;
      padding: 0; }
    body .wrapper header span.notification {
      background: red;
      font-size: .7em;
      display: inline-block;
      padding: 0px 1px;
      position: relative;
      top: -5px; }
  body .wrapper menu {
    display: flex;
    margin: 0;
    padding: 0;
    color: #fff; }
    body .wrapper menu > div, body .wrapper menu > a {
      background: #7B6D65;
      margin: 3px 2px;
      width: 130px;
      padding: 5px;
      color: #fff;
      text-decoration: none;
      text-align: center;
      transition: .3s all; }
      body .wrapper menu > div:first-child, body .wrapper menu > a:first-child {
        flex-grow: 8;
        text-align: left; }
      body .wrapper menu > div:last-child, body .wrapper menu > a:last-child {
        flex-grow: 4; }
    body .wrapper menu > a:hover {
      background: orange; }
    body .wrapper menu > a:nth-child(2) img {
      background: #fff;
      width: 20px;
      height: 20px;
      margin: 5px 0;
      padding: 10px;
      border-radius: 50%; }
    body .wrapper menu > div:first-child img {
      float: left;
      margin-right: 10px; }
    body .wrapper menu .circle {
      height: 60px;
      display: block;
      width: 60px;
      text-align: center;
      line-height: 60px;
      border: 2px solid #fff;
      margin: 5px auto;
      border-radius: 50%; }
    body .wrapper menu img.img-fluid {
      width: 100%;
      height: auto; }
  body .wrapper .show-menu {
    display: none; }

@media only screen and (max-width: 600px) {
  body .wrapper menu {
    flex-direction: column;
    flex-wrap: wrap;
    height: 0;
    overflow: hidden;
    transition: all .5s; }
    body .wrapper menu.open-menu {
      height: 300px; }
    body .wrapper menu > div, body .wrapper menu > a {
      width: 100%; }
      body .wrapper menu > div:first-child, body .wrapper menu > a:first-child {
        flex-grow: initial; }
  body .wrapper .show-menu {
    display: block;
    height: 30px;
    width: 40px;
    margin: 5px;
    position: relative;
    overflow: visible; }
    body .wrapper .show-menu:before, body .wrapper .show-menu:after, body .wrapper .show-menu span {
      content: '';
      display: block;
      height: 5px;
      width: 100%;
      background: green;
      position: absolute;
      top: 0;
      transition: all .5s; }
    body .wrapper .show-menu:after {
      bottom: 0;
      top: auto; }
    body .wrapper .show-menu span {
      top: 12px; }
    body .wrapper .show-menu.open-menu span {
      transform: scale(0); }
    body .wrapper .show-menu.open-menu:before {
      transform: rotate(45deg) translateY(10px) translateX(10px); }
    body .wrapper .show-menu.open-menu:after {
      transform: rotate(-45deg) translateY(-7px) translateX(8px); } }
