﻿@import "_variables.scss";
@import "_mixins.scss";

body {
	.wrapper {
		#PhotoGallery {
			ul {
				@include neutralizelist;
				display: grid;
				grid-template-columns: auto auto auto auto;

				li {
					@include neutralizelist;
					height: 300px;
					position: relative;
					cursor: pointer;
					overflow: hidden;
					border: 1px solid $white;
					transition: .4s all;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: .4s all;
					}

					&:before {
						content: "";
						display: block;
						width: 100%;
						height: 100%;
						background: rgba(0,0,0, 0.3);
						top: 0;
						left: 0;
						position: absolute;
						z-index: 999;
						transition: .4s all;
					}

					span {
						background: $green-light;
						color: $white;
						position: absolute;
						display: block;
						width: 100%;
						padding: 10px;
						bottom: -50px;
						transition: .4s all;
						transition-delay: .1s;
					}

					&:hover {
						//transform: scale(1.009);
						///box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
						z-index: 9999;

						img {
							transform: scale(1.1) rotate(-2deg);
						}

						&:before {
							opacity: 0;
						}

						span {
							bottom: 0;
						}
					}
				}
			}
		}
	}

	.light-box {
		position: fixed;
		z-index: 999199;
		background: rgba(0,0,0, 0.9);
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		transform: scale(0);
		opacity: 0;
		transition: .4s all;

		svg#CloseButton {
			cursor: pointer;
			fill: $white;


			* {
				fill: $white;
				transition: .3s all;
			}

			position: absolute;
			right: 30px;
			top: 20px;

			&:hover {
				* {
					fill: $light-gray;
				}
			}
		}

		img {
			width: 90%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-30%) translateY(-50%);
			opacity: 0;
			transition: .4s;
			transition-delay: .2s;
		}

		&.im-visible {
			opacity: 1;
			transform: scale(1);

			img {
				transform: translateX(-50%) translateY(-50%);
				opacity: 1;
			}
		}


		.next, .prev {
			position: absolute;
			top: 50%;
			border-radius: 50%;
			border: 1px solid $white;
			background: none;
			color: $white;
			@include size(50px, 50px);
			z-index: 99999;
			transition: .4s all;
			cursor: pointer;

			&:focus {
				outline: none;
			}

			&:hover {
				border-color: $light-gray;
				color: $light-gray;
			}
		}

		.next {
			right: 30px;
		}

		.prev {
			left: 20px;
		}
	}
}


@media screen and (max-width: $screen-lg) {
	body {
		.wrapper {
			#PhotoGallery {
				ul {

					li {
						height: 200px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: $screen-md) {
	body {
		.wrapper {
			#PhotoGallery {
				ul {
					grid-template-columns: auto auto auto;

					li {
						height: 150px;
					}
				}
			}
		}
	}
}
