﻿body .wrapper #PhotoGallery ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto; }
  body .wrapper #PhotoGallery ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 300px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #fff;
    transition: .4s all; }
    body .wrapper #PhotoGallery ul li img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .4s all; }
    body .wrapper #PhotoGallery ul li:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      top: 0;
      left: 0;
      position: absolute;
      z-index: 999;
      transition: .4s all; }
    body .wrapper #PhotoGallery ul li span {
      background: #2fcd52;
      color: #fff;
      position: absolute;
      display: block;
      width: 100%;
      padding: 10px;
      bottom: -50px;
      transition: .4s all;
      transition-delay: .1s; }
    body .wrapper #PhotoGallery ul li:hover {
      z-index: 9999; }
      body .wrapper #PhotoGallery ul li:hover img {
        transform: scale(1.1) rotate(-2deg); }
      body .wrapper #PhotoGallery ul li:hover:before {
        opacity: 0; }
      body .wrapper #PhotoGallery ul li:hover span {
        bottom: 0; }

body .light-box {
  position: fixed;
  z-index: 999199;
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: scale(0);
  opacity: 0;
  transition: .4s all; }
  body .light-box svg#CloseButton {
    cursor: pointer;
    fill: #fff;
    position: absolute;
    right: 30px;
    top: 20px; }
    body .light-box svg#CloseButton * {
      fill: #fff;
      transition: .3s all; }
    body .light-box svg#CloseButton:hover * {
      fill: #b6ada5; }
  body .light-box img {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-30%) translateY(-50%);
    opacity: 0;
    transition: .4s;
    transition-delay: .2s; }
  body .light-box.im-visible {
    opacity: 1;
    transform: scale(1); }
    body .light-box.im-visible img {
      transform: translateX(-50%) translateY(-50%);
      opacity: 1; }
  body .light-box .next, body .light-box .prev {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    width: 50px;
    height: 50px;
    z-index: 99999;
    transition: .4s all;
    cursor: pointer; }
    body .light-box .next:focus, body .light-box .prev:focus {
      outline: none; }
    body .light-box .next:hover, body .light-box .prev:hover {
      border-color: #b6ada5;
      color: #b6ada5; }
  body .light-box .next {
    right: 30px; }
  body .light-box .prev {
    left: 20px; }

@media screen and (max-width: 1280px) {
  body .wrapper #PhotoGallery ul li {
    height: 200px; } }

@media screen and (max-width: 960px) {
  body .wrapper #PhotoGallery ul {
    grid-template-columns: auto auto auto; }
    body .wrapper #PhotoGallery ul li {
      height: 150px; } }
