﻿@import "_variables.scss";


body {
	.wrapper {
		header {
			border-bottom: 1px solid $dark-gray;
			padding: 10px 20px;
			position: fixed;
			z-index: 99999;
			width: 100vw;
			background: $white;
			box-sizing: border-box;

			> a {
				img {
					height: 60px;
				}
			}

			button {
				float: right;
				width: 41px;
				height: 41px;
				background: none;
				border: none;
				position: absolute;
				cursor: pointer;
				right: 20px;
				top: 25px;

				&:before, &:after, span {
					content: "";
					display: block;
					height: 4px;
					width: 100%;
					background: $green;
					overflow: hidden;
					text-indent: -9999px;
					transform-origin: center center;
					transition: .5s all;
				}

				&:before {
					transform: translateY(-6px);
				}

				&:after {
					transform: translateY(6px);
				}

				&:hover {
					&:before, &:after, span {
						background: $green-light;
					}
				}

				&:focus {
					outline: none;
				}

				&.clicked {
					span {
						opacity: 0;
					}

					&:before {
						transform: translateY(3px) rotate(45deg);
					}

					&:after {
						transform: translateY(-5px) rotate(-45deg);
					}
				}
			}
		}
	}
}
