﻿body menu {
  position: fixed;
  width: 300px;
  height: 100vh;
  background: #026937;
  top: 0;
  margin: 0;
  padding: 0;
  left: -300px;
  transition: .5s all;
  z-index: 555; }
  body menu ul {
    padding: 0;
    margin-top: 150px;
    margin-left: 20px; }
    body menu ul li {
      padding: 0;
      margin: 15px;
      list-style: none;
      opacity: 0;
      transform: translateX(-30px);
      transition: .5s all; }
      body menu ul li:first-child {
        transition-delay: .4s; }
      body menu ul li:nth-child(2) {
        transition-delay: .48s; }
      body menu ul li:nth-child(3) {
        transition-delay: .56s; }
      body menu ul li:nth-child(4) {
        transition-delay: .62s; }
      body menu ul li:nth-child(5) {
        transition-delay: .70s; }
      body menu ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 1.1em;
        display: inline-block;
        transition: .3s all; }
        body menu ul li a:after {
          content: "";
          display: block;
          height: 2px;
          background: #fff;
          width: 0;
          overflow: hidden;
          transition: .3s all; }
        body menu ul li a:hover:after {
          width: 100%; }
  body menu.menu-open {
    left: 0; }
    body menu.menu-open ul li {
      opacity: 1;
      transform: translateX(0); }
