﻿@import "_variables.scss";


body {
	.wrapper {
		#News {
			background: url(../images/slider/2.jpg) fixed no-repeat;
			background-size: cover;
			position: relative;
			overflow: auto;

			&:before {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, .5);
				position: absolute;
				top: 0;
				left: 0;
				z-index: 10;
			}

			article {
				max-width: $screen-lg;
				margin: auto;
				z-index: 20;
				position:relative;
				color: $white;
				padding: 65px 0 20px;
				overflow: auto;

				h2 {
					margin: 0;
					padding: 0 0 50px 0;
					font-family: $font-serif;
					font-weight: 400;
					font-size: 2.4em;
					font-style: italic;
				}

				a {
					color: $white;
					text-decoration: underline;

					&:hover {
						color: $light-gray;
					}
				}

				> div {
					width: 50%;
					height: 150px;
					float: left;

					img {
						width: 100px;
						height: 100px;
						object-fit: cover;
						float: left;
						margin: 0 10px 0 0;
						border-radius: 10px;
					}

					h3 {
						font-weight: 500;
						font-size: 1.4em;
						margin-top: 0;
						padding-top: 0;
					}
				}
			}
		}
	}
}
@media screen and (max-width: $screen-lg) {
	body {
		.wrapper {
			#News {
				article {
					> div, > h2 {
						padding: 20px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: $screen-md) {
	body {
		.wrapper {
			#News {
				article {
					> div {
						width: 100%;
					}
				}
			}
		}
	}
}